* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-family: "OpenSans", sans-serif;
  overflow: hidden;
}

@font-face {
  font-family: "OpenSans-Bold";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 50px;
  left: 50px;
  right: 0;
  width: calc(100vw - 100px);
  z-index: 2;
}

.search-container__input {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid #ffcc00;
  border-radius: 20px;
  outline: none;
  z-index: 1;
}

.search-container__input::-webkit-input-placeholder {
  font-size: 14px;
  color: #757575;
}

.search-container__input::-moz-placeholder {
  font-size: 14px;
  color: #757575;
}

.search-container__input:-ms-input-placeholder {
  font-size: 14px;
  color: #757575;
}

.search-container__input::-ms-input-placeholder {
  font-size: 14px;
  color: #757575;
}

.search-container__input::placeholder {
  font-size: 14px;
  color: #757575;
}

.search-container__dropdown {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  width: 100%;
  background: #fff;
  padding: 5px;
  border-radius: 20px;
}

.search-container__dropdown__item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  cursor: pointer;
}

.search-container__dropdown__item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #000;
  margin-bottom: 5px;
}

.search-container__dropdown__item__text__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #f6f6f6;
  margin-right: 10px;
}

.search-container__dropdown__item__text__icon-container > picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-container__dropdown__item__place {
  font-size: 16px;
  color: #757575;
  padding-bottom: 5px;
}

.search-container__dropdown__item:first-child {
  margin-top: 40px;
}

.search-container__dropdown__item:last-child {
  margin-bottom: 0;
}

.search-container__dropdown__item:hover {
  background: #f6f6f6;
}

#map-container iframe {
  width: 100%;
  height: 100vh;
}

#map-container .map {
  width: 100%;
  height: 100vh;
}

@media (max-width: 500px) {
  .search-container {
    left: 10px;
    width: calc(100vw - 20px);
  }
}